body {
    padding-bottom: 30px;
}

main {
    margin-left: 50px;
    margin-right: 50px;
}

.table-responsive {
    margin-top: 50px;
}

h1 {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

div .checkbox {
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type=text]{
    width: 500px;
    height:30px;
    padding: 12px 20px;
    margin: auto;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 4px;
}

.checkbox-inline {
    margin: 10px 0;
    padding: 20px 0;
}

input[type=submit] {
    padding: 12px 20px;
    margin: 8px 0;
}

input[type=reset] {
    padding: 12px 20px;
    margin: 8px 0;
}

form {
    margin-top: 10px;
    text-align: center;
}

form div {
    margin: 10px 10px;
}



