.idea
out
*.iml
*.xml

# if you have a mac
.DS_Store

#gradle
.gradle
/build
/buildSrc/build
/subprojects/*/build
/subprojects/docs/src/samples/*/*/build
/subprojects/internal-android-performance-testing/build-android-libs
.m2
