<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
    <title>Form</title>
</head>
<body>
<h1>Form</h1>
    <p th:text="${error}"></p>
    <form action="#" th:action="@{/search}" method="get">
        <input type="text" name="q"/>
        <button type="submit">Search</button>
    </form>

        <a th:href="@{/search?police=1}" name="police">Find Police Cars</a>

        <a th:href="@{/search?diplomat=1}" name="diplomat">Find Diplomat Cars</a>

<div th:if="${searches} != null">
    <table>
        <thead>
            <tr>
                <td>Plate</td>
                <td>Car Brand</td>
                <td>Car Model</td>
                <td>Color</td>
                <td>Year</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="search : ${searches}" th:object="${search}">
                <td th:text="*{plate}"></td>
                <form action="#" th:action="@{'/search/' + *{carBrand}}" method="get">
                    <td><a th:href="@{'/search/' + *{carBrand}}" th:text="*{carBrand}"></a></td>
                </form>
                <td th:text="*{car_model}"></td>
                <td th:text="*{color}"></td>
                <td th:text="*{year}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>