<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}" />
    <meta charset="utf-8" />
    <style>
        table, th, td {
            border: 1px;
        }
    </style>
</head>

<body>
    <h1>Welcome to Bank of Simba</h1>
    <h3>We are proud to be the best bank in the world for animal</h3>
    <form action="#" th:action="@{/multipleAccounts}" method="post" th:object="${allBankAccounts}">
        <table class="outputtable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Balance</th>
                    <th>Animal Type</th>
                    <th>Index</th>
                    <th>Title</th>
                    <th>Guy Type</th>
                    <th>Raise</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each = "account: ${allBankAccounts}">
                    <td th:text="${account.name}">...</td>
                    <td th:text="${#numbers.formatDecimal(account.balance, 0, 'WHITESPACE', 2, 'POINT')} + ' Zebra'">...</td>
                    <td th:text="${account.animalType}">...</td>
                    <td th:text="${accountStat.index}">...</td>
                    <td th:switch="${account.king}">
                        <p id = "king" th:case="'King'">King</p>
                        <p th:case="'not King'">Not King</p>
                        <p th:case="*"> -- </p>
                    </td>
                    <td th:switch="${account.guyType}">
                        <p th:case="'Good One'">Good One</p>
                        <p th:case="'Bad Guy'">Bad Guy</p>
                        <p th:case="*"> -- </p>
                    </td>
                    <td> <button type="submit" name="raise"
                                 th:value="${accountStat.index}">Raise</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3>Join our bank by filling your own account :D</h3>
        <table class="inputtable">
                <tr th:object="${bankAccount}">
                    <td>
                        <p>Name: <input type="text" th:field="*{name}" /></p>
                    </td>
                    <td>
                        <p>Balance: <input type="text" th:field="*{balance}" /></p>
                    </td>
                    <td>
                        <p>Animal Type: <input type="text" th:field="*{animalType}" /></p>
                    </td>
                    <td>
                        <p>King: <input type="text" th:field="*{king}" /></p>
                    </td>
                    <td>
                        <p>Guy Type: <input type="text" th:field="*{guyType}" /></p>
                    </td>
                </tr>
        </table>
        <div>
            <button id = "add" type="submit" name="add">Add Account</button>
        </div>
    </form>
</body>
</html>