form {
    margin: auto;
    background: rgb(220,214,206);
    border: 1px solid black;
    width: 900px;
    height: 900px;
}

.divider {
    display: flex;
}
span.col{
    border: 30px solid rgb(220,214,206);
    flex-grow: 1;
    height:350px;
    padding:0;
    margin:0;
}
.col3 {
    display:flex;
}
span.smallcol {
    border: 3px solid rgb(220,214,206);
    flex-grow: 1;
    height:50px;
    padding:0;
    margin:0;
}

div.row {
    border: 30px solid rgb(220,214,206);
    width: 840px;
    height: 250px;
    margin-top:10px;
    margin-bottom:0;
    padding:0;
}
div:first-of-type {
    height: 30px;
}
.col div {
    border: 3px solid rgb(220,214,206);
    height:150px;
    padding:0;
    margin: 0;
}
div.col3{
    border:0;
    height: 50px;
    margin:0;
}
p.birthyear {
    height:10px;
    line-height: 2px;
    margin: 7px 0 5px;
}
input[name="birthyear"] {
    margin:0;
    line-height: 2px;
}
#gender {
    line-height: 2px;
    margin:7px 0 10px;
}
.col4 {
    display:flex;
}
span.acol4 {
    margin: 0;
    flex-grow: 1;
}
.row p {
    line-height: 5px;
    margin: 5px 5px 10px;
}
input[name="introduction"]{
    height: 120px;
    width: 835px;
}
input[type="telephone"],
input[type="email"],
input[name="facebook"],
input[name="twitter"],
select {
    width: 300px;
    height:20px;
    margin: 5px 20px;
    border-radius: 5px;
}
legend[class="telephone"],
legend[class="email"],
legend[class="facebook"],
legend[class="twitter"],
legend[class="selection"] {
    margin: 3px 20px;
}
.col p {
    margin: 5px 20px;
    width:150px;
}
.col p {
    width:200px;
    margin:7px 0;
}
p.cv {
    margin: 15px 0;
}
input[type="file"] {
    width:400px;
    height:30px;
}
input[type="submit"] {
    width: 200px;
    margin: 0 400px 10px 30px;
}
input[type="reset"] {
    width: 200px;
    margin: 0 30px;
}
input[type="checkbox"],
label[for="web"] {
    margin: 7px 0;
}
input[name="introduction"] {
    vertical-align: top;
}