<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
    <ul>
        <li>
            <a th:href="@{'/foxclub/' + ${fox.name}}">Information</a>
        </li>
        <li>
            <a th:href="@{'/foxclub/' + ${fox.name} + '/nutritionStore'}">Nutrition Store</a>
        </li>
        <li>
            <a th:href="@{'/foxclub/' + ${fox.name} + '/trickCenter'}">Trick Center</a>
        </li>
        <li>
            <a th:href="@{'/foxclub/' + ${fox.name} + '/actionhistory'}">Action History</a>
        </li>
    </ul>

    <form action="#" th:action="@{'/foxclub/' + ${fox.name} + '/trickCenter'}" method="post">
        Tricks :
        <select th:object="${fox}" name ="addtrickhere">
            <option th:each="trick:${tricks}" th:value="${trick}" th:selected="*{trick} == ${trick}" th:text="${trick}"></option>
        </select>

        <button type="submit" name = "changetrick">Submit</button>

    </form>
</body>
</html>