<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tamagochi #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<ul>
    <li>
        <a th:href="@{'/tamagochi/' + ${user.name}}">Information</a>
    </li>
    <li>
        <a th:href="@{'/tamagochi/' + ${user.name} + '/nutritionStore'}">Nutrition Store</a>
    </li>
    <li>
        <a th:href="@{'/tamagochi/' + ${user.name} + '/trickCenter'}">Trick Center</a>
    </li>
    <li>
        <a th:href="@{'/tamagochi/' + ${user.name} + '/actionhistory'}">Action History</a>
    </li>
</ul>

<img src="/images/greenfox.jpeg"/>

<p th:text="'This is ' + ${fox.name} +'. Currently living on ' + ${fox.food}
            + ' and ' + ${fox.drink} + '. He knows ' + ${numoftricks} + ' trick(s)'">...</p>

<h1>Known Tricks</h1>
<ul th:each="trick:${usertricks}">
    <li><p th:text="${trick}"></p></li>
</ul>

</body>
</html>
