<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<ul>
    <li>
        <a th:href="@{'/tamagochi/' + ${user.name}}">Information</a>
    </li>
    <li>
        <a th:href="@{'/tamagochi/' + ${user.name} + '/nutritionStore'}">Nutrition Store</a>
    </li>
    <li>
        <a th:href="@{'/tamagochi/' + ${user.name} + '/trickCenter'}">Trick Center</a>
    </li>
    <li>
        <a th:href="@{'/tamagochi/' + ${user.name} + '/actionhistory'}">Action History</a>
    </li>
</ul>

<form action="#" th:action="@{'/tamagochi/' + ${user.name} + '/trickCenter'}" method="post">
    Tricks :
    <select name ="addtrickhere">
        <option th:each="trick:${tricks}" th:value="${trick}" th:selected="${trick} == ${newtrick}" th:text="${trick}"></option>
    </select>
    <button type="submit" name ="changetrick">Submit</button>

</form>

<div>Learned tricks:</div>
<ul th:each="trick : ${tricks}">
    <li th:text="${trick}"></li>
</ul>
</body>
</html>