<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todo Info #</title>
    <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>
    <meta charset="utf-8" />
</head>
<body>
<header>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/mainpage}">ToDos</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a class="nav-link" th:href="@{/mainpage}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li>
                        <a th:href="@{/todo/add}">Add ToDo</a>
                    </li>
                    <li>
                        <a th:href="@{/todo?isActive=true}">Active ToDos</a>
                    </li>
                    <li>
                        <a th:href="@{/todo?isActive=false}">Inactive Todos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container-fluid">
    <main role="main">
        <h1>ToDos: </h1>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Action</th>
                    <th>Done</th>
                    <th>Urgent</th>
                    <th>Creation Time</th>
                </tr>
                </thead>
                <tbody th:each="todo:${todos}">
                    <tr>
                        <td th:text="${todo.id}"></td>
                        <td th:text="${todo.title}"></td>
                        <td th:if="${todo.done}"><span class="glyphicon glyphicon-ok"></span></td>
                        <td th:unless="${todo.done}"><span class="glyphicon glyphicon-remove"></span></td>
                        <td th:if="${todo.urgent}"><span class="glyphicon glyphicon-ok"></span></td>
                        <td th:unless="${todo.urgent}"><span class="glyphicon glyphicon-remove"></span></td>
                        <td th:text="${todo.creation_time}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>
<script src="webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>