<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Assignee List #</title>
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>
    <meta charset="utf-8" />
</head>
<body>
<header>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/mainpage}">ToDos</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a class="nav-link" th:href="@{/mainpage}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li>
                        <a th:href="@{/todo/add}">Add ToDo</a>
                    </li>
                    <li>
                        <a th:href="@{/todo?isActive=true}">Active ToDos</a>
                    </li>
                    <li>
                        <a th:href="@{/todo?isActive=false}">Inactive Todos</a>
                    </li>
                    <li>
                        <a th:href="@{/assigneelist}">Assignees</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container-fluid">
    <main role="main">
        <h1>Assignee List </h1>
        <div><a class="btn btn-warning" role="button" th:href="@{/assignee/add}">Add Assignee</a></div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Delete</th>
                    <th>Edit</th>
                </tr>
                </thead>
                <tbody th:each="assignee:${assignees}">
                    <form action="#" th:action="@{'/' + ${assignee.id} + '/removeassigne'}" method="post">
                        <tr>
                            <td th:text="${assignee.id}"></td>
                            <td th:text="${assignee.name}"></td>
                            <td th:text="${assignee.email}"></td>
                            <td><button class="btn btn-danger" type="submit" name="remove" th:value="${assignee.id}">Remove</button></td>
                            <td><a class="btn btn-info" role="button" th:href="@{'/assignee/' + ${assignee.id} + '/edit'}">Edit</a></td>
                        </tr>
                    </form>
                </tbody>
            </table>
        </div>
    </main>
</div>
<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>