<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add new ToDo #</title>
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>
    <meta charset="utf-8" />
</head>
<body>
<header>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/mainpage}">ToDos</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a class="nav-link" th:href="@{/mainpage}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li>
                        <a th:href="@{/todo/add}">Add ToDo</a>
                    </li>
                    <li>
                        <a th:href="@{/todo?isActive=true}">Active ToDos</a>
                    </li>
                    <li>
                        <a th:href="@{/todo?isActive=false}">Inactive Todos</a>
                    </li>
                    <li>
                        <a th:href="@{/assigneelist}">Assignees</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0 pull-right" action="#" th:action="@{/search}" method="post">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="titlesearch"/>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>
<main class="tododetail">
    <div class="container-fluid">
        <h1>Todo Detail</h1>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <td th:text="${todo.id}"></td>
            </tr>
            <tr>
                <th>Action</th>
                <td th:text="${todo.title}"></td>
            </tr>
            <tr>
                <th>Description</th>
                <td th:text="${todo.description}"></td>
            </tr>
            <tr>
                <th>Done</th>
                <td th:if="${todo.done}"><span class="glyphicon glyphicon-ok"></span></td>
                <td th:unless="${todo.done}"><span class="glyphicon glyphicon-remove"></span></td>
            </tr>
            <tr>
                <th>Urgent</th>
                <td th:if="${todo.urgent}"><span class="glyphicon glyphicon-ok"></span></td>
                <td th:unless="${todo.urgent}"><span class="glyphicon glyphicon-remove"></span></td>
            </tr>
            <tr>
                <th>Creation Time</th>
                <td th:text="${todo.creationTime}"></td>
            </tr>
            <tr>
                <th>Due Date</th>
                <td th:text="${todo.duedate}"></td>
                <td></td>
            </tr>
            <tr>
                <th>Assignee</th>
                <td></td>
            </tr>
        </table>
    </div>
</main>
<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>