<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
    <title>Peer to Peer Chat App</title>
</head>
<body>
    <h1>Enter</h1>
    <form action="#" th:action="@{/enter}" th:object="${form}" method="post">
        <input type="text" th:field = "*{name}" name="appuser"/>
        <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        <button type="submit">Submit</button>
    </form>
</body>
</html>