<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
    <title>Peer to Peer Chat App</title>
</head>
<body>
    <h1>Enter</h1>
    <p th:text="${errormessage}"></p>
    <form action="#" th:action="@{/enter}" method="post">
        <input type="hidden" th:field="${appuser.id}"/>
        <input type="text" th:field="${appuser.username}"/>
        <button type="submit">Create</button>
    </form>
</body>
</html>