<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
    <title>Peer to Peer Chat App</title>
</head>
<body>
    <h1>Peer to Peer Chat App</h1>
    <form action="#" th:action="@{/}" th:object="${form}" method="post">
        <input type="text" th:field = "*{name}" name="username"/>
        <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        <button type="submit">Update</button>
    </form>

    <ul>
        <li th:text="${app}"></li>
        <li th:text="${defaultmessage}"></li>
    </ul>

    <ul th:each="message : ${messages}" th:object="${message}">
        <li th:text="*{appuser.name}"></li>
        <li th:text="*{text}"></li>
    </ul>
    <div th:if = "${user} != null">
        <form action="#" th:action="@{'/send/' + ${user.name}}" method="post">
            <input type="text" name="textmessage"/>
            <button type="submit">Send</button>
        </form>
    </div>
</body>
</html>