<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
    <title>Peer to Peer Chat App</title>
</head>
<body>
    <h1>Peer to Peer Chat App</h1>
    <div><p th:text="${errormessage}"></p></div>
    <form action="#" th:action="@{/}" method="post">
        <input type="hidden" th:field="${appuser.id}"/>
        <input type="text" id="username" th:field="${appuser.username}" th:placeholder="${appuser.username}"/>
        <button type="submit">Update</button>
    </form>

    <ul th:each="message : ${messages}">
        <li th:text="${message.appuser.username}"></li>
        <div th:text="${message.text}"></div>
    </ul>
    <div><p th:text="${errormessage}"></p></div>
    <form action="#" th:action="@{/send}" method="post">
        <input type="hidden" th:field="${appmessage.appuser.id}"/>
        <input type="hidden" id="username" th:field="${appmessage.appuser.username}"/>
        <input type="text" id="textmessage" th:field="${appmessage.text}"/>
        <button type="submit">Send</button>
    </form>

</body>
</html>