body {
    margin: 8% 10%;
}
body > div {
    width: 50%;
    height: 70%;
    margin: 10% 25%;
    border: 10px solid rgb(70, 136, 241);
    padding: 0;
}
div div{
    height:150px;
    margin:0;
    text-align: center;
    line-height: 150px;
    vertical-align: middle;
    font-size: 36px;
    color: rgb(225,225,239);
    font-family: Helvetica, Arial, sans-serif;
}
div:nth-child(1){
    background: rgb(228,119,120);
}
div:nth-child(2){
    background: rgb(242,238,109);
}
div:nth-child(3){
    background: rgb(171,230,229);
}
div:nth-child(4){
    background: rgb(119,148,225);
}


