
body{
    margin: 50px auto;
}
div { 
    width: 30%;
    height: 150px;
    margin: 10px 35%;
    border: 5px solid green;
    background-color: rgb(11, 165, 185);
    font-size: 30px;
    padding:20px;
}
